* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 100px;
    background-color: #000;
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.intro__constent {
    width: 28ch;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid white;
    animation: cursor 0.75s step-end infinite, printed_text 5s steps(28);
}

.timer {
    padding: 20vh 0 40vh;
}

.timer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -45px;
}

.chars-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.chars-list__item {
    list-style: none;
}

.char {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.char__pic {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0 0 140px 100px #000 inset;
}

.char__pic--sam {
    background-image: url("../img/sam.jpg");
}

.char__pic--millie {
    background-image: url("../img/millie.jpg");
}

.char__pic--lilith {
    background-image: url("../img/lilit.png");
}

.char__pic--cole {
    background-image: url("../img/koul.jpg");
}

.char__pic--bianca {
    background-image: url("../img/bianka.jpg");
}

.char__pic--unknown {
    background-image: url("../img/anon.jpg");
}

.main-footer {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.social {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

.social:hover,
.social:focus {
    background-color: #000;
    color: #fff;
    outline: 3px solid #fff;
}

.social:active {
    background-color: #000;
    color: #2b202044;
    outline: 3px solid #2b202044;
}

@keyframes cursor {
    0% {
        border-color: white;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: white;
    }
}

@keyframes printed_text {
    from {
        width: 0;
    }
}